 
 
/*FONTY*/
@import 'https://fonts.googleapis.com/css?family=Roboto:400,700';

 body { 
 font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
 font-size: 14px;
 line-height: 1.42857143;
 background-color: black;
} 

ul > li
{
    list-style-type: none;
	    display: inline-grid;
}

a {

color: #337ab7!important;
text-decoration: none!important;

}


.ak-mid {
overflow:hidden;
min-height: 100vh;
padding: 25px 5px;

    display: inline-grid;
    justify-content: center;
	
	/* background-color:#333; */
	
	
	-webkit-box-shadow: 14px 12px 53px 194px rgba(0,0,0,1);
-moz-box-shadow: 14px 12px 53px 194px rgba(0,0,0,1);
box-shadow: 14px 12px 53px 194px rgba(0,0,0,1);

}

.ak-top {

background-image: url(img/header_cover.png);
/* background-size: 100% auto; */
background-size: cover;
background-repeat: no-repeat;
height: 556px;
min-height: 303px;


}

.ak-bottom {

background-image: url(img/footer_cover.png);
min-height: 303px;
/* background-size: 100% auto; */
/* background-repeat: no-repeat; */

background-size: cover;
background-repeat: no-repeat;
}

.ak-credit {
/* position: absolute; */
  /* bottom: -1268px; */
  
    text-decoration: none;
    color: white;
}

.center {
	margin: auto 33%;
}

.ak-list {

text-align: center;
/* margin: 65px; */
padding: 5px;
}
 
#logoHeader {
/* min-height: 301px; */
/* width: 781px; */
background-image: url(img/Maniak_logo.png);
/* background-size: 100% auto; */
/* background-repeat: no-repeat; */
/* background-color:red; */

max-width: 781px;
background-size: 100% auto;
    background-repeat: no-repeat;
    height: 303px;
margin:auto;
transition: all 0.4s;
	
	
}

#logoHeader:hover {
    background-image: url(img/Maniak_logo_aktiv.png);
      
}

#trikoCenovka {
height: 148px;
width: 83px;
background-image: url(img/Triko_cenovka.png);
background-size: 100% auto;
background-repeat: no-repeat;
transition: all 0.4s;
/* background-color:red; */
}

#trikoCenovka:hover {
    background-image: url(img/Kulich_cenovka_aktiv.png);
      
}

#trikoObrazek {
	
background-image: url(img/Triko_obrazek.png);
background-size: 100% auto;
background-repeat: no-repeat;
height: 581px;
width: 555px;
transition: all 0.4s;
/* background-color:blue; */
}

#trikoObrazek:hover {
    background-image: url(img/Triko_obrazek_aktiv.png);
      
}

#kulichCenovka {
height: 83px;
width: 167px;
background-image: url(img/Kulich_cenovka.png);
background-size: 100% auto;
background-repeat: no-repeat;
transition: all 0.4s;
/* background-color:red; */
}

#kulichCenovka:hover {
    background-image: url(img/Triko_cenovka_aktiv.png);
      
}


#kulicObrazek {
	
background-image: url(img/Kulich_obrazek.png);
background-size: 100% auto;
background-repeat: no-repeat;
height: 254px;
width: 680px;
transition: all 0.4s;
/* background-color:blue; */
    margin: 55px 0;
}

#kulicObrazek:hover {
    background-image: url(img/Kulich_obrazek_aktiv.png);
      
}

#mixtapeCenovka {
height: 82px;
width: 237px;
background-image: url(img/Mixtape_cenovka.png);
background-size: 100% auto;
background-repeat: no-repeat;
transition: all 0.4s;
/* background-color:red; */
margin-left:208px;
}

#mixtapeCenovka:hover {
    background-image: url(img/Mixtape_cenovka_aktiv.png);
      
}

#mixtapeObrazek {
	
background-image: url(img/Mixtape_obrazek.png);
background-size: 100% auto;
background-repeat: no-repeat;
height: 588px;
width: 555px;
transition: all 0.4s;
/* background-color:blue; */
}

#mixtapeObrazek:hover {
    background-image: url(img/Mixtape_obrazek_aktiv.png);
      
}


#but_1 {
    background-image:url(img/FB.png);
    background-size:contain;
    width: 60px;
    height: 60px;
    
   transition: all 0.4s;
 
    
    
    
    
}

#but_1:hover {
    background-image: url(img/FB_aktiv.png);
    
    

  
   
}

#but_2 {
    background-image:url(img/IG.png);
      background-size:contain;
    width: 60px;
    height: 60px;
    
     transition: all 0.4s;
}

#but_2:hover {
    background-image: url(img/IG_aktiv.png);
      
}


#but_3 {
    background-image:url(img/YT.png);
     background-size:contain;
    width: 60px;
    height: 60px;
    
     transition: all 0.4s;

    
}

#but_3:hover {
    background-image: url(img/YT_aktiv.png);

}




.other2 {height: 300px; width: 100%;}

.credit-p {
    /* position: absolute; */
    /* bottom: -950px; */
    text-decoration:none;
    color:white;
	font-weight: bold;
	text-align: center;
    margin: auto 6%;
	padding-top: 279px;
}

@media screen and (min-width: 1px) and (max-width:390px) {
.credit-p {
    padding-top: 200px;
    
    
    }
#logoHeader {
	max-height:136px;
	
	}
	
#mixtapeObrazek,
#kulichObrazek,
#trikoObrazek {
height: 250px;
width: 385px;
background-size:50%;
margin: auto 25%;
}



}

@media screen and (min-width: 1px) and (max-width:890px) {
#trikoCenovka {
display:none;
}
#kulichCenovka {
display:none;
}
#mixtapeCenovka {
display:none;
}

#mixtapeObrazek,
#kulicObrazek,
#trikoObrazek {
	
height: 318px;
width: 600px;
background-size:50%;
margin: auto 25%;
padding-left:50%;
margin-top: 65px;
}

}

@media screen and (min-width: 1px) and (max-width:733px)
{
	background-size: cover;
}




